{% extend_me %}
<div class="logo-element">
    {% block logo_element %}
        <img alt="image" src="{{ request.url_for_static('just_logo.png','mag_branding') }}"/>
    {% endblock logo_element %}
</div>
